<%= render partial: "shared/navbar" %>
<%= render partial: "shared/secondary_navbar" %>

	<div class="consultant-div">
		 <div class="photo-consultant-show">
		 		<%= cl_image_tag @consultant.photo, id:"photo-consultant-show"%>
		 </div>
		 <div class="consultant-name">
		 	 <h3><%= @consultant.name %></h3>
		 </div>
		 <div class="consultant-bio">
	   		<p><%= @consultant.bio %></p>
		 </div>
		 <div class="consultant-expertise">
	   		<p>Expertises: <strong><%= @consultant.expertise %></strong></p>
		 </div>
		 <div class="button-contact">
				<%= link_to "Pour me rejoindre", contact_path, method: "get", class: "btn btn-danger"%>
		 </div>
	</div>
