<%= render partial: "shared/navbar" %>

	<div class="consultant-div">
		 <div class="photo-consultant-show">
		 		<%= cl_image_tag @consultant.photo, id:"photo-consultant-show"%>
		 </div>
		 <div class="consultant-name">
		 	 <h3><%= @consultant.name %></h3>
		 </div>
		 <div class="consultant-bio">
	   		<p><%= @consultant.bio %></p>
		 </div>
		 <div class="consultant-expertise">
	   		<p>Expertise: <strong><%= @consultant.expertise %></strong></p>
		 </div>
		 <div class="button-contact">
				<button type="button" class="btn btn-danger">Pour me rejoindre</button>
		 </div>
	</div>
