<%= render partial: "shared/navbar" %>
<%= render partial: "shared/secondary_navbar" %>

<div id="homepage-banner">
  <div class="main-header">
    <h1><%= t("slogan") %></h1>
    <h3><%= t("value_prop") %></h3>
	  <button class="contact-btn"><%= t("contact_us") %></button>
  </div>
</div>

<!-- SECTION SERVICES -->
<div>
	<div class="secondary-header">
		<h2><%= t("accomplish") %></h2>
	</div>
  <div class="card-container d-flex flex-wrap text-center d-grid">
		<% @services.each do |service| %>
    	<div class="service-card">
  			<div class="card-img"><%= image_tag service.photo %></div>
  		  <h3><%= service.name %></h3> 
        <p><%= service.description %></p> 
        <%= link_to t("tell_more"), "#", class: "card-link" %>
    	</div>
		<% end %>
  </div>
</div>

<!-- SECTION LOGOS CLIENT -->
<div class="gray-section">
	<div class="secondary-header">
		<h2><%= t("our_clients") %></h2>
	</div>
</div>

<!-- SECTION CONSULTANTS -->
<div class="secondary-header">
	<h2><%= t("team") %></h2>
	<div>
		<div class="consultant-card-container">
			<% @consultants.each do |consultant| %>	
			<div class="consultant-card">
				<%= image_tag consultant.photo %>
				<h3>
					<%= consultant.name %>
				</h3>
			</div>
			<% end %>
		</div>
	</div>
</div>

<!-- SECTION REVIEWS-->
<div class="gray-section">	
	<div class="secondary-header">
		<h2><%= t("clients_say") %></h2>
	</div>	
	<div class="review-card-container">
		<div id="arrow-left"></div>
		<div class="review-card">
			<% @reviews.each do |review| %>
			<div>
				<p><%= review.content %></p> 
			</div>
			<div>
				<h1><strong><%= review.client %>,</strong> <%= review.position %></h1>
				<h2> <%= review.company %></h2>
			</div>
			<% end %>
		</div>
	</div>
</div>
 
<!-- <div class="bottomMenu"></div> -->

 <%= render partial: "shared/footer" %>








