<%= render partial: "shared/navbar" %>

<%= render partial: "shared/secondary_navbar" %>


<div id="homepage-banner">
  <div class="main-header">
    <h1>Une équipe derrière chaque consultant.</h1>
    <h3>Proposition triangulée entre la concurrence et les besoins de SEO</h3>
	  <button class="contact-btn">Contactez-nous</button>
  </div>
</div>

<!-- SECTION SERVICES -->
<div>
	<div class="secondary-header">
		<h2>Ce que vous pouvez accomplir avec Coop Interface</h2>
	</div>
  <div class="card-container d-flex flex-wrap text-center d-grid">
		<% @services.each do |service| %>
    	<div class="service-card">
  			<div class="card-img"><%= image_tag service.photo %></div>
  		  <h3><%= service.name %></h3> 
        <p><%= service.description %></p> 
        <%= link_to "En savoir plus", "#", class: "card-link" %>
    	</div>
		<% end %>
  </div>
</div>

<!-- SECTION LOGOS CLIENT -->
<div class="gray-section">
	<div class="secondary-header">
		<h2>Plus de 100 clients nous ont fait confiance</h2>
	</div>
</div>

<!-- SECTION CONSULTANTS -->
<div class="secondary-header">
	<h2>Une équipe d’experts à votre disposition</h2>
	<div>
		<div class="consultant-card-container">
			<% @consultants.each do |consultant| %>	
			<div class="consultant-card">
				<%= image_tag consultant.photo %>
				<h3>
					<%= consultant.name %>
				</h3>
			</div>
			<% end %>
		</div>
	</div>
</div>

<!-- SECTION REVIEWS-->
<div class="gray-section">	
	<div class="secondary-header">
		<h2>Ce que nos clients disent sur nous</h2>
	</div>	
	<div class="review-card-container">
		<div id="arrow-left"></div>
		<div class="review-card">
			<% @reviews.each do |review| %>
			<div>
				<p><%= review.content %></p> 
			</div>
			<div>
				<h1><strong><%= review.client %>,</strong> <%= review.position %></h1>
				<h2> <%= review.company %></h2>
			</div>
			<% end %>
		</div>
	</div>
</div>
 <%= render partial: "shared/footer" %>







